:root {
  --my-color-1:#172a3a;
  --my-color-2:#022f40;
  --my-color-3:#046e8f;
  --my-color-4:#0090c1;
  --my-color-5:#38aecc;
}
.darkest {
  background-color:var(--my-color-1);
}
.darker {
  background-color:var(--my-color-2);
}
.dark {
  background-color:var(--my-color-3);
}
.bright {
  background-color:var(--my-color-4);
}
.brighter {
 background-color: var(--my-color-5);
}
.darkest-font {
  color: var(--my-color-1);
}
.darker-font {
  color: var(--my-color-2);
}
.dark-font {
  color: var(--my-color-3);
}
.bright-font {
  color: var(--my-color-4);
}
.brighter-font {
  color: var(--my-color-5);
}
.green-font {
  color:#89d71d;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav {
  transition: all 0.35s;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}  
.nav-max {
  background-color: var(--my-color-5);
  padding: 15px 0px;
}
.nav-min {
  background-color: var(--my-color-1);
  padding: 5px 0px;
}
nav ul {
  list-style: none;
  margin: 0px 20px;
  padding: 0;
}
nav ul li {
  display: inline;
  margin: 0;
  padding: 0; 
}
nav .link {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: white;
  margin: 20px;
}
nav .badge {
  margin: 0px 5px;
  color: white;
}
nav a:hover {
  border-bottom: 2px solid var(--my-color-3);
}
a {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
.app-header {
  min-height: 60vh;
  background-image: url('../images/header-background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100% cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.app-header div {
  text-align: left;
  margin-left: 10vw;
}
.background-tint {
  background-blend-mode: multiply;
  transition: background-color 0.3s;
}
.light-tint {
  background-color: rgb(60, 89, 128);
}
.dark-tint {
  background-color: rgb(17, 33, 54);
}
.content {
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 50px 0px;
  font-size: calc(8px + 1vmin);
}
.grid-container {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: auto auto auto;
  background-color: var(--my-color-3);
  padding: 10px;
}
.grid-item {
  background-color: var(--my-color-2);
}